[project]
	description = Code reviews for LYE
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/GitSach
[access "refs/for/refs/*"]
	read = group user/GitSach
	push = group user/GitSach
	label-Code-Review = -2..+2 group user/GitSach
	label-Verified = -1..+1 group user/GitSach
	rebase = group user/GitSach
	removeReviewer = group user/GitSach
	submit = group user/GitSach
[access "refs/heads/*"]
	read = group user/GitSach
	create = group user/GitSach
	push = +force group user/GitSach
	pushMerge = group user/GitSach
[access "refs/tags/*"]
	push = +force group user/GitSach
	pushTag = group user/GitSach
	pushSignedTag = group user/GitSach
